<%= form_for [:admin, data], :html=>{:multipart=>true} do |f| %>
	<div class="box-body">
		<div class="form-group">
			<label for="exampleInputEmail1">上级分类</label>
			<%= f.select :parent_id, TradeInfoCategory.roots.map{|c| [c.name, c.id]}.unshift(['无', nil]), {}, class: 'form-control' %>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">分类名称</label>
			<%= f.text_field :name, class: 'form-control'%>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">分类图标</label>
      <div id="localImag"><img id="preview" src="<%= data.logo.url%>" width="150" height="180" style="display: block; width: 150px; height: 180px;"></div>
			<%= f.file_field :logo, class: 'form-control', id: 'doc', onchange: 'javascript:setImagePreview();'%>
		</div>
		<%unless data.new_record?%>
		<div class="form-group">
			<label for="exampleInputPassword1">显示顺序</label>
			<%= f.text_field :position, class: 'form-control' %>
		</div>
		<%end%>
	</div>
	<div class="box-footer">
		<button class="btn btn-primary" type="submit">保存</button>
	</div>
<% end %>


<script type="text/javascript">
//下面用于图片上传预览功能
function setImagePreview(avalue) {
var docObj=document.getElementById("doc");

var imgObjPreview=document.getElementById("preview");
if(docObj.files &&docObj.files[0])
{
//火狐下，直接设img属性
imgObjPreview.style.display = 'block';
imgObjPreview.style.width = '150px';
imgObjPreview.style.height = '180px'; 
//imgObjPreview.src = docObj.files[0].getAsDataURL();

//火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
}
else
{
//IE下，使用滤镜
docObj.select();
var imgSrc = document.selection.createRange().text;
var localImagId = document.getElementById("localImag");
//必须设置初始大小
localImagId.style.width = "150px";
localImagId.style.height = "180px";
//图片异常的捕捉，防止用户修改后缀来伪造图片
try{
localImagId.style.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
}
catch(e)
{
alert("您上传的图片格式不正确，请重新选择!");
return false;
}
imgObjPreview.style.display = 'none';
document.selection.empty();
}
return true;
}

</script>