<div class="trade_info_filter">
	<div class="context">
		<div class="header">
			<div class="title">
				分类
			</div>
		</div>
    <div class="body">
      <%StoreCategory.all.each do |category|%>
      <a href="<%= stores_path(c: category.id)%>" class="<%= params[:c].to_i == category.id ? "current" : ""%>"><%= category.name%></a>
      <%end%>
    </div>
  </div>
</div>


<div class="space1 pr"></div>

<div class="blank05"></div>

<div class="info_list">
	<div class="context">
		<div class="header">
			<div class="title">
				<%= @category.try(:name) || "信息列表"%>
			</div>
		</div>
		<div class="body">
			<ul class="info">
				<% @stores.each do |store|%>
				<li class="clearfix">
					<a href="<%= store_path(store)%>">
						<div class="img">
							<img src="<%= store.front_image.try(:url)%>" />
						</div>
						<div class="content">
							<p class="title"><%= store.name%></p>
							<p class="desc color-gray"><%= store.desc%></p>
	      			<p class="phone color-red">电话：<%= store.phone%></p>
						</div>
					</a>
				</li>
				<%end%>
			</ul>
		</div>
	</div>
</div>
