<div class="banner-box pr">
	<ul class="banner-nr" id="banner-ul">
    <%@store.store_images.order("position asc").each_with_index do |banner, index|%>
    <li data-img-index="<%= index%>" class="waterone" style="width: 100%;">
      <img class="show_img img-responsive" src="<%= banner.image.url%>" alt="#" onerror="this.src='/images/miss.jpg';">
    </li>
		<%end%>
	</ul>
	<ul id="banner-dian" class="banner-dian pa" style="margin-left: -10px;">
		<%@store.store_images.order("position asc").each_with_index do |banner, index|%>
		<li class="<%= index == 0 ? "current" : ""%>"></li>
		<%end%>
	</ul>
</div>


<div class="store_show_block clearfix">
  <div class="title">
    <%= @store.name%>
  </div>
  <div class="collect clearfix">
    <a href="#" class="color-gray">
      <span class="iconfont color-red">
        &#xe604;
     	</span>
      收藏
    </a>
  </div>
</div>

<div class="space1 pr"></div>

<div class="blank05"></div>

<div class="store_show_block attrs">
  <ul>
    <li>
      <span class="iconfont color-red">
        &#xe605;
     	</span>
      <%= @store.address%>
    </li>
    <li>
      <span class="iconfont color-red">
        &#xe601;
     	</span>
      电话：<%= @store.phone%>
    </li>
  </ul>
</div>

<div class="space1 pr"></div>

<div class="blank05"></div>

<div class="store_show_block attrs">
  <ul>
    <li>
<a href="<%= cards_path(c: 0, s: @store.id)%>">
      <span class="icon">劵</span>
      本店优惠券
      <span class="iconfont more">&#xe60a;</span>
</a>
    </li>
    <li>
<a href="<%= cards_path(c: 1, s: @store.id)%>">
      <span class="icon">卡</span>
      本店会员卡
      <span class="iconfont more">&#xe60a;</span>
</a>
    </li>
  </ul>
</div>

<div class="space1 pr"></div>

<div class="blank05"></div>

<div class="store_show_content">
  <div class="header">
    <ul class="tabs clearfix">
      <li class="current"><a href="#">最新活动</a></li>
      <li><a href="#">商户展示</a></li>
      <li><a href="#">商家简介</a></li>
    </ul>
  </div>
	<div class="context">
		<p><%= raw @store.content%></p>
	</div>
</div>

<%= content_for :javascript do%>
    <%= javascript_include_tag 'banner', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'show_img', 'data-turbolinks-track' => true %>
		<script type="text/javascript">
      //banner
			$.fn.slideBox();
      //查看大图
      var arrimg = $(".img-responsive");
			$.fn.showPlayerBigImg(arrimg);
		</script>
<%end%>