<div id="header">
  <div class="area col-xs-2 pr font_white">
    <span class="iconfont">&#xe639;</span>
    北京市
  </div>
  <div class="search">
    <div class="box">
      <input type="text" class="input" placeholder="请输入关键字" />
      <span  class="btn iconfont font_white">
        &#xe625;
     	</span>
    </div>
  </div>
</div>

<div class="banner-box pr">
	<ul class="banner-nr" id="banner-ul"><li data-location-href="/clpga/articles/6" class="a-href" style="width: 640px;"><img class="img-responsive" src="http://image.mastergolf.cn/assets/0bb1696d06680e6a9fc4df185b0c61f5.png"></li>
		
	</ul>
	<ul id="banner-dian" class="banner-dian pa" style="margin-left: -10px;">
		<li class="current"></li>
	</ul>
</div>

<div class="trade_categories pr">
  <ul class="pr">
    <%@trade_categories[0..3].each do |category|%>
    <li>
    	<a href="#">
				<img src="<%= category.logo.url%>" />
				<p><%= category.name%></p>
			</a>
    </li>
    <%end%>
  </ul>
	<div class="blank05"></div>
  <ul class="pr">
    <%@trade_categories[4..-1].each do |category|%>
    <li>
    	<a href="#">
				<img src="<%= category.logo.url%>" />
				<p><%= category.name%></p>
			</a>
    </li>
    <%end%>
  </ul>
</div>
<div class="blank05"></div>

<div class="space05 pr"></div>

<div class="blank05"></div>

<div class="info_list">
	<div class="context">
		<div class="header">
			<div class="title">
				热门信息
			</div>
		</div>
		<div class="body">
			<ul class="info">
				<% @recommend_infos.each do |info|%>
				<li>
					<a href="#" class="img">
						<img src="<%= info.front_image.try(:url)%>" />
					</a>
					<div class="content">
						<p class="title"><%= info.title%></p>
						<p class="desc"><%= info.desc%></p>
						<div class="attrs">
							<span>8万元</span>
							<span>15平米</span>
						</div>
					</div>
				</li>
				<%end%>
			</ul>
		</div>
	</div>
</div>



