<div class="banner-box pr">
	<ul class="banner-nr" id="banner-ul">
    <%Banner.order("position asc").each do |banner|%>
    <li data-location-href="<%= banner.url%>" class="a-href" style="width: 640px;">
      <img class="img-responsive" src="<%= banner.image.url%>" alt="<%= banner.description%>" onerror="this.src='/images/miss.jpg';">
    </li>
		<%end%>
	</ul>
	<ul id="banner-dian" class="banner-dian pa" style="margin-left: -10px;">
		<%Banner.order("position asc").each_with_index do |banner, index|%>
		<li class="<%= index == 0 ? "current" : ""%>"></li>
		<%end%>
	</ul>
</div>

<div class="trade_categories clearfix">
  <ul class="pr">
    <%@trade_categories[0..3].each do |category|%>
    <li>
    	<a href="<%= trade_infos_path(rc: category.id)%>">
				<img src="<%= category.logo.url%>" onerror="this.src='/images/miss.jpg';" />
				<p class="color-gray"><%= category.name%></p>
			</a>
    </li>
    <%end%>
  </ul>
	<div class="blank05"></div>
  <ul class="pr">
    <%@trade_categories[4..-1].each do |category|%>
    <li>
    	<a href="<%= trade_infos_path(rc: category.id)%>">
				<img src="<%= category.logo.url%>" onerror="this.src='/images/miss.jpg';" />
				<p class="color-gray"><%= category.name%></p>
			</a>
    </li>
    <%end%>
  </ul>
</div>
<div class="blank1"></div>

<div class="space1 pr"></div>

<div class="blank05"></div>

<div class="info_list">
	<div class="context">
		<div class="header">
			<div class="title">
				热门信息
			</div>
		</div>
		<div class="body">
			<ul class="info">
				<% @recommend_infos.each do |info|%>
				<li class="clearfix">
					<a href="<%= trade_info_path(info)%>">
            <div class="img">
              <img src="<%= info.front_image.try(:url)%>" onerror="this.src='/images/miss.jpg';" />
            </div>
  					<div class="content">
  						<p class="title"><%= truncate_u(info.title, 12, '')%></p>
  						<p class="desc color-gray"><%= info.desc%></p>
  						<div class="attrs color-red">
                <%info.trade_info_attrs.where(list_display: true).each do |attr|%>
  							<span><%= attr.value%></span>
                <%end%>
								<span><%= info.phone%></span>
  						</div>
  					</div>
					</a>
				</li>
				<%end%>
			</ul>
		</div>
	</div>
</div>

<div class="blank05"></div>

<div class="space1 pr"></div>

<div class="blank05"></div>

<div class="info_list">
	<div class="context">
		<div class="header">
			<div class="title">
				代金券
			</div>
		</div>
		<div class="body">
			<ul class="info">
				<% Card.coupon_card.limit(5).each do |card|%>
				<li class="clearfix">
					<a href="<%= card_path(card)%>">
            <div class="img_card">
  						<img src="<%= card.logo.try(:url)%>" onerror="this.src='/images/miss.jpg';" />
            </div>
  					<div class="content">
  						<p class="title"><%= card.name%></p>
  						<p class="desc color-gray"><%= card.desc%></p>
  						<div class="attrs color-red">
  							<span>电话：<%= card.phone%></span>
  						</div>
  					</div>
          </a>
				</li>
				<%end%>
			</ul>
		</div>
	</div>
</div>


<div class="blank05"></div>

<div class="space1 pr"></div>

<div class="blank05"></div>

<div class="info_list">
	<div class="context">
		<div class="header">
			<div class="title">
				打折卡
			</div>
		</div>
		<div class="body">
			<ul class="info">
				<% Card.discount_card.limit(5).each do |card|%>
				<li class="clearfix">
					<a href="<%= card_path(card)%>">
            <div class="img_card">
  						<img src="<%= card.logo.try(:url)%>" onerror="this.src='/images/miss.jpg';" />
            </div>
  					<div class="content">
  						<p class="title"><%= card.name%></p>
  						<p class="desc color-gray"><%= card.desc%></p>
  						<div class="attrs color-red">
  							<span>电话：<%= card.phone%></span>
  						</div>
  					</div>
          </a>
				</li>
				<%end%>
			</ul>
		</div>
	</div>
</div>

<%= content_for :javascript do%>
    <%= javascript_include_tag 'banner', 'data-turbolinks-track' => true %>
		<script type="text/javascript">
			$.fn.slideBox();
		</script>
<%end%>