<div class="index">
  <div class="header">
    <div class="avatar">
      <img src="<%= current_user.logo%>" />
    </div>
    <p class="name">
      <%= current_user.truename%>
    </p>
    <p class="balance">
      <font>余额</font>
      <span>￥<%= current_user.balance%></span>
    </p>
  </div>

  <div class="blank1"></div>
  
  <div class="block_nav">
    <ul class="clearfix">
      <li>
        <a href="/member/trade_infos/new_category">
          <img src="/images/member_index_nav_1.jpg" />
          <p>发布信息</p>
        </a>
      </li>
      <li>
        <a href="<%= new_member_recharge_path%>">
          <img src="/images/member_index_nav_2.jpg" />
          <p>充值</p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/images/member_index_nav_3.jpg" />
          <p>提现</p>
        </a>
      </li>
      <li>
        <a href="/member/trade_infos">
          <img src="/images/member_index_nav_4.jpg" />
          <p>信息管理</p>
        </a>
      </li>
    </ul>
  </div>

  <div class="blank1"></div>
  <div class="space1 pr"></div>
  
  <div class="list_nav">
    <ul class="clearfix">
      <li>
        <a href="<%= member_account_books_path%>"><span class="iconfont" style="color: #ee7b44">&#xe610;</span>消费记录</a>
      </li>
      <li>
        <a href="#"><span class="iconfont" style="color: #b589d4">&#xe60d;</span>充值记录</a>
      </li>
    </ul>
    <div class="line1"></div>
    <ul class="clearfix">
      <li>
        <a href="#"><span class="iconfont" style="color: #5ec85a">&#xe60b;</span>提现记录</a>
      </li>
      <li>
        <a href="<%= member_stores_path%>"><span class="iconfont" style="color: #f8ce4c">&#xe60f;</span>商户首页</a>
      </li>
    </ul>
    <div class="space1 pr"></div>

    <ul class="clearfix">
      <li>
        <a href="<%= member_cards_path(category: 0)%>"><span class="iconfont" style="color: #67c2df">&#xe60c;</span>我的优惠券</a>
      </li>
      <li>
        <a href="<%= member_cards_path(category: 1)%>"><span class="iconfont" style="color: #f8ce4c">&#xe60e;</span>我的打折卡</a>
      </li>
    </ul>
    <div class="line1"></div>
    <ul class="clearfix">
      <li>
        <a href="<%= member_collects_path(type: :info)%>"><span class="iconfont" style="color: #82b771">&#xe604;</span>我收藏的信息</a>
      </li>
      <li>
        <a href="<%= member_collects_path(type: :store)%>"><span class="iconfont" style="color: #f57663">&#xe60f;</span>我收藏的商家</a>
      </li>
    </ul>
  </div>
</div>
