<div class="blank05"></div>

<div class="trade_info_filter">
	<div class="context">
		<div class="header">
			<div class="title">
				区县
			</div>
	    <div class="body clearfix">
				<%@areas.each do |area|%>
	      <a href="<%= trade_infos_path(rc: params[:rc], c: params[:c], a: area.code, k: params[:k])%>" class="<%= area.code.to_i == params[:a].to_i ? "current" : ""%>"><%= area.name%></a>
				<%end%>
	    </div>
		</div>
  </div>
</div>


<div class="space1 pr"></div>

<div class="blank05"></div>

<div class="trade_info_filter">
	<div class="context">
		<div class="header">
			<div class="title">
				分类
			</div>
		</div>
    <div class="body">
			<%@sub_categories.each do |category|%>
      <a href="<%= trade_infos_path(rc: params[:rc], c: category.id, a: params[:a], k: params[:k])%>" class="<%= category.id == params[:c].to_i ? "current" : ""%>"><%= category.name%></a>
			<%end%>
    </div>
  </div>
</div>


<div class="space1 pr"></div>

<div class="blank05"></div>

<div class="info_list">
	<div class="context">
		<div class="header">
			<div class="title">
				<%= @root_category.try(:name) || "信息列表"%>
			</div>
		</div>
		<div class="body">
			<ul class="info">
				<% @trade_infos.each do |info|%>
				<li class="clearfix">
					<a href="<%= trade_info_path(info)%>" class="img">
						<img src="<%= info.front_image.try(:url)%>" onerror="this.src='/images/miss.jpg';" />
					</a>
					<div class="content">
						<p class="title">
              <a href="<%= trade_info_path(info)%>">
                <%= truncate_u(info.title, 12, '')%>
              </a>
              <span class="like">
                <a href="<%= like_trade_info_path(id: info.id)%>" class="color-gray">
                  <span class="iconfont color-red">
                    &#xe600;
                 	</span>
                  <%= info.like_count.to_i%>
                </a>
              </span>
            </p>
            <a href="<%= trade_info_path(info)%>">
  						<p class="desc color-gray"><%= info.desc%></p>
            </a>
						<div class="attrs">
              <a href="<%= trade_info_path(info)%>" class=" color-red">
                <%info.trade_info_attrs.where(list_display: true).each do |attr|%>
  							<span><%= attr.value%></span>
                <%end%>
  							<span><%= info.phone%></span>
              </a>
						</div>
					</div>
				</li>
				<%end%>
			</ul>
		</div>
	</div>
</div>

<div class="blank05"></div>
<div class="space1 pr"></div>
<div class="blank1"></div>
<div class="blank05"></div>
