<div class="banner-box pr">
	<ul class="banner-nr" id="banner-ul">
    <%@trade_info.trade_info_images.order("position asc").each do |banner|%>
    <li data-location-href="#" class="a-href" style="width: 640px;">
      <img class="img-responsive" src="<%= banner.image.url%>" alt="#" onerror="this.src='/images/miss.jpg';">
    </li>
		<%end%>
	</ul>
	<ul id="banner-dian" class="banner-dian pa" style="margin-left: -10px;">
		<%@trade_info.trade_info_images.order("position asc").each_with_index do |banner, index|%>
		<li class="<%= index == 0 ? "current" : ""%>"></li>
		<%end%>
	</ul>
</div>

<div class="trade_info_show">
  <div class="title">
    <%= @trade_info.title%>
  </div>
  <div class="price color-red">
    ￥<%= @trade_info.price%>
    <span class="ago color-gray"><%= ago(@trade_info.created_at)%></span>
  </div>
  <ul class="attrs clearfix">
    <%@trade_info.trade_info_attrs.each do |attr|%>
      <%if attr.data_type == "LSTRING"%>
      <li class="color-blackgray" style="width: 100%"><span class="color-gray"><%= attr.name%>&nbsp;:&nbsp;</span><%= attr.value%></li>
      <%else%>
      <li class="color-blackgray"><span class="color-gray"><%= attr.name%>&nbsp;:&nbsp;</span><%= attr.value%></li>
      <%end%>
    <%end%>
    <li class="color-blackgray"><span class="color-gray">联系电话&nbsp;:&nbsp;</span><a href="tel:<%= @trade_info.phone%>" class="color-red"><%= @trade_info.phone%></a></li>
  </ul>
  <div class="act_links clearfix">
    <span class="left">
      <a href="<%= collects_path(t: @trade_info.class.name, id: @trade_info.id)%>" class="color-gray">
      <%if @collected%>
        <span class="iconfont color-red">
          &#xe604;
       	</span>
        取消收藏
      <%else%>
        <span class="iconfont">
          &#xe604;
       	</span>
        收藏
      <%end%>
      </a>
    </span>
    <span class="right">
      <a href="<%= like_trade_info_path(id: @trade_info.id)%>" class="color-gray">
        <span class="iconfont color-red">
          &#xe600;
       	</span>
        点赞
      </a>
    </span>
  </div>
</div>

<div class="space1 pr"></div>

<div class="blank05"></div>

<div class="trade_info_show_content clearfix">
	<div class="context">
		<div class="header">
			<div class="title">
				描述信息
			</div>
		</div>
		<div class="body">
			<p><%= raw @trade_info.content%></p>
		</div>
	</div>
</div>

<div class="blank05"></div>

<div class="space1 pr"></div>

<div class="blank05"></div>

<div class="info_list">
	<div class="context">
		<div class="header">
			<div class="title">
				相关信息
			</div>
		</div>
		<div class="body">
			<ul class="info">
				<% @similarity_trade_infos.each do |info|%>
				<li class="clearfix">
					<a href="<%= trade_info_path(info)%>">
  					<div class="img">
  						<img src="<%= info.front_image.try(:url)%>" onerror="this.src='/images/miss.jpg';" />
  					</div>
  					<div class="content">
  						<p class="title"><%= truncate_u(info.title, 12, '')%></p>
  						<p class="desc color-gray"><%= info.desc%></p>
  						<div class="attrs color-red">
                <%info.trade_info_attrs.where(list_display: true).each do |attr|%>
  							<span><%= attr.value%></span>
                <%end%>
  						</div>
  					</div>
          </a>
				</li>
				<%end%>
			</ul>
		</div>
	</div>
</div>

<%= content_for :javascript do%>
    <%= javascript_include_tag 'banner', 'data-turbolinks-track' => true %>
		<script type="text/javascript">
			$.fn.slideBox();
		</script>
<%end%>