<div class="store">
  <div class="form">
    <%= form_for @store, url: member_stores_path, method: :post, html: {id: "form"} do |f|%>
    <div class="input">
      <span class="require">*</span><span class="title">商户分类：</span>
      <%= f.select :store_category_id, options_for_select(StoreCategory.all.map{|sc| [sc.name, sc.id]})%>
    </div>
    <div class="input">
      <span class="require">*</span><span class="title">商户名称：</span>
      <%= f.text_field :name, placeholder: "请输入商户名称"%>
    </div>
    <div class="input">
      <span class="require">*</span><span class="title">商户电话：</span>
      <%= f.text_field :phone, placeholder: "请输入商户电话"%>
    </div>
    <div class="input">
      <span class="require">*</span><span class="title">联系地址：</span>
      <%= f.text_field :address, placeholder: "请输入联系地址"%>
    </div>
    <div class="input">
      <span class="title">上传照片：</span>
      <div class="iframe">
      	<iframe src="<%= upload_image_member_stores_path(id: @store.try(:id))%>" frameborder="no" scrolling="no" style="height: 3rem"></iframe>
      </div>
    </div>
    <div class="btn">
      <input type="submit" value="保存" />
    </div>
    <a href="<%= !current_user.store.new_record? ? member_cards_path(category: 0) : "#"%>" class="link_btn">优惠券管理</a>
    <a href="<%= !current_user.store.new_record? ? member_cards_path(category: 1) : "#"%>" class="link_btn">打折卡管理</a>
    <%end%>
  </div>
</div>

<%= content_for :javascript do%>
<script type="text/javascript">
var validate = {
    require: function(elem, errmsg){
        elem = $(elem);
        if(elem.val() == "")
        {
          removePrompt(errmsg);
          return false;
        }
        return true;
    },
    phone: function(elem, errmsg){
        elem = $(elem);
        var value = $.trim(elem.val());
        if(!/^(0|86|17951)?(13[0-9]|15[012356789]|18[0-9]|14[57]|17[0-9])[0-9]{8}$/.test(value)){
            removePrompt(errmsg);
        }
    },
    // email: function(elem, errmsg){
//         elem = $(elem);
//         var value = $.trim(elem.value);
//         if(!/^/w+((-/w+)|(/w+))*/@[A-Za-z0-9]+((/.|-)[A-Za-z0-9]+)*/.[A-Za-z0-9]+$/.test(value)){
//           removePrompt(errmsg);
//         }
//     },
    compare: function(elem1, elem2, errmsg){
        elem1 = $(elem1);
        elem2 = $(elem2);
        var tipCon = elem2.parent().find("span");
        elem2.on("change", function(){
            var value1 = $.trim(elem1[0].val());
            var value2 = $.trim(this.val());
            if(value1 !== value2){
              removePrompt(errmsg);
            }
        });
    }
};

$(function(){
  $("#form").submit(function(){
    var has_error = false;
    //验证必填字段
    $.each($(".input .require").siblings("[type=text]"), function(i, obj){
        var next = validate.require(obj, $(obj).attr("placeholder"));
        if(!next)
        {
          has_error = true;
          return false;
        }
    });
    return !has_error;
    // validate.phone("#phone", "手机号码格式不正确");
    // validate.email("#email", "电子邮箱格式不正确");
    // validate.compare("#email", "#email-c", "两次邮箱不一致");
  });

});
</script>
<%end%>