<%= form_for [:admin, data], :html=>{:multipart=>true} do |f| %>
	<div class="box-body">
		<div class="form-group">
			<label for="exampleInputEmail1">所属分类</label>
			<%= f.select :trade_info_category_id, grouped_options_for_select(TradeInfoCategory.roots.map{|c| [c.name, c.children.map{|cc| [cc.name, cc.id]}]}, data.trade_info_category_id), {}, class: 'form-control', disabled: 'disabled' %>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">用户</label>
			<%= f.text_field :user_id, class: 'form-control'%>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">标题</label>
			<%= f.text_field :title, class: 'form-control'%>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">联系电话</label>
			<%= f.text_field :phone, class: 'form-control'%>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">描述</label>
			<%= f.text_area :desc, class: 'form-control'%>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">展示费</label>
			<%= f.text_field :total_fee, class: 'form-control'%>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">推荐</label>
			<%= f.check_box :recommend%>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">置顶</label>
			<%= f.check_box :sticky%>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">地区</label>
      <%= f.select :city_code, options_for_select(Area.find(607).children.order("pinyin ASC").map{|area| [area.name, area.code]}, data.city_code||cookies[:city_code])%>
			<%if data.city_code.present?%>
      	<%= f.select :district_code, options_for_select(Area.where(parent_code: data.city_code).map{|area| [area.name, area.code]}, data.district_code)%>
			<% elsif cookies[:city_code].present?%>
				<%= f.select :district_code, options_for_select(Area.where(parent_code: cookies[:city_code]).map{|area| [area.name, area.code]})%>
			<%else%>
				<%= f.select :district_code, {}, style: "display: none"%>
			<%end%>
		</div>
		<%unless data.new_record?%>
		<div class="form-group">
			<label for="exampleInputPassword1">显示顺序</label>
			<%= f.text_field :position, class: 'form-control' %>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">状态</label>
			<%= f.select :state, options_for_select([["待审核", :create], ["未付款", :pass], ["已付款", :payment]], data.state)%>
		</div>
		<%end%>
		<div class="form-group">
			<label for="exampleInputPassword1">图文描述</label>
			<%= f.kindeditor :content %>
		</div>
	</div>
	<div class="box-footer">
		<button class="btn btn-primary" type="submit">保存</button>
	</div>
<% end %>


<script>
$(function(){
	//get streets
	$("#trade_info_city_code").change(function(){
		if($(this).val() == "")
		{
			$("#trade_info_district_code").val("").hide();
			return false;
		} 
		
		$.ajax({
			url: '/ajax/area/children',
			type: 'GET',
			dataType: 'json',
			data: {code: $(this).val()},
			success: function(response)
			{
				if(response.length == 0)
				{
					$("#trade_info_district_code").html('<option value="" selected></option>').hide();
					return true;
				}
				var options = '';
				$.each(response, function(index, city){
					options += '<option value="'+ city['code'] +'">'+ city['name'] +'</option>';
				});
				$("#trade_info_district_code").html(options).show();
			}
		});
	});
  
  
  
});
</script>
