<ul class="nav nav-pills">
  <li role="presentation"><a href="<%= edit_admin_trade_info_category_path(@trade_info)%>">基本信息</a></li>
  <li role="presentation"><a href="<%= admin_trade_info_trade_info_images_path(@trade_info)%>">图片</a></li>
  <li role="presentation" class="active"><a href="#">附加属性</a></li>
</ul>
<br>

<div class="row">
	<div class="col-xs-12">			
		<div class="box box-primary">
			<%= form_tag url: updates_admin_trade_info_trade_info_attrs_path(@trade_info), :html=>{:multipart=>true} do |f| %>
				<div class="box-body">
					<%(@trade_info.trade_info_attrs|@trade_info.trade_info_category.trade_info_category_attrs).each do |attr|%>
					<div class="form-group">
						<label for="exampleInputEmail1"><%= attr.name%></label>
						<%= text_field_tag :name, class: 'form-control'%>
					</div>
					<%end%>
				</div>
				<div class="box-footer">
					<button class="btn btn-primary" type="submit">保存</button>
				</div>
			<% end %>
		</div>
	</div>
</div>



















