      <div class="input">
      <span class="require">*</span><span class="title">信息标题：</span>
      <%= f.text_field :title, placeholder: "请输入信息标题", maxlength: "20"%>
    </div>
    <div class="input">
      <span class="require">*</span><span class="title">描述：</span>
      <%= f.text_field :desc, placeholder: "请输入描述", maxlength: "100"%>
    </div>
    <div class="input">
      <span class="require">*</span><span class="title">价格：</span>
      <%= f.text_field :price, placeholder: "请输入出售价格", maxlength: "10"%>
    </div>
    <%@attrs.each do |attr|%>
    <div class="input">
      <%= hidden_field_tag "attrs[]attr_id", attr.id%>
      <%= hidden_field_tag "attrs[]attr_name", attr.name%>
      <%= hidden_field_tag "attrs[]data_type", attr.data_type%>
      <%= hidden_field_tag "attrs[]list_display", attr.list_display%>
      <%= hidden_field_tag "attrs[]placeholder", attr.placeholder%>
      <span class="title"><%= attr.name%>：</span>
      <%if attr.data_type != "TEXT"%>
        <input type="text" name="attrs[]value" placeholder="<%= attr.placeholder%>" maxlength="<%= attr.maxlength.to_i > 0 ? attr.maxlength : 999999%>" value="<%= @info_attrs.find{|iattr| iattr.trade_info_category_attr_id==attr.id}.value rescue nil%>" />
      <%else%>
        <textarea name="attrs[]value" placeholder="<%= attr.placeholder%>" maxlength="<%= attr.maxlength.to_i > 0 ? attr.maxlength : 999999%>" value="<%= @info_attrs.find{|iattr| iattr.trade_info_category_attr_id==attr.id}.value rescue nil%>"></textarea>
      <%end%>
    </div>
    <%end%>
    <div class="input">
      <span class="title">发布天数：</span>
      <%= select_tag :day, options_for_select(30.times.map{|i| ["#{i+1}天（推广价格#{@category.price.to_f*(i+1)}元）", i+1]})%>
    </div>
    <div class="input">
      <span class="title">上传照片：</span>
      <iframe src="<%= upload_image_member_trade_infos_path(id: @trade_info.try(:id))%>" frameborder="no" scrolling="no" style="height: 2.4rem"></iframe>
    </div>
    <div class="input">
      <span class="title">详细信息：</span>
      <%= f.text_area :content, placeholder: "请输入详细信息"%>
    </div>
