    <div class="input">
      <span class="require">*</span><span class="title">信息标题：</span>
      <%= f.text_field :title, placeholder: "请输入信息标题", maxlength: "20"%>
    </div>
    <div class="input">
      <span class="require">*</span><span class="title">联系电话：</span>
      <%= f.text_field :phone, placeholder: "请输入联系电话", maxlength: "15"%>
    </div>
    <div class="input">
      <span class="require">*</span><span class="title">描述：</span>
      <%= f.text_field :desc, placeholder: "请输入描述", maxlength: "100"%>
    </div>
    <%@attrs.each do |attr|%>
    <div class="input">
      <%= hidden_field_tag "attrs[]attr_id", attr.id%>
      <%= hidden_field_tag "attrs[]attr_name", attr.name%>
      <%= hidden_field_tag "attrs[]data_type", attr.data_type%>
      <%= hidden_field_tag "attrs[]list_display", attr.list_display%>
      <%= hidden_field_tag "attrs[]placeholder", attr.placeholder%>
      <span class="title"><%= attr.name%>：</span>
      <%if attr.data_type != "TEXT"%>
        <input type="text" name="attrs[]value" placeholder="<%= attr.placeholder%>" maxlength="<%= attr.maxlength.to_i > 0 ? attr.maxlength : 999999%>" value="<%= @info_attrs.find{|iattr| iattr.trade_info_category_attr_id==attr.id}.value rescue nil%>" />
      <%else%>
        <textarea name="attrs[]value" placeholder="<%= attr.placeholder%>" maxlength="<%= attr.maxlength.to_i > 0 ? attr.maxlength : 999999%>" value="<%= @info_attrs.find{|iattr| iattr.trade_info_category_attr_id==attr.id}.value rescue nil%>"></textarea>
      <%end%>
    </div>
    <%end%>
    <div class="input">
      <span class="title">地区：</span>
      <%= f.select :city_code, options_for_select(Area.find(607).children.order("pinyin ASC").map{|area| [area.name, area.code]}, @trade_info.city_code||cookies[:city_code])%>
			<%if @trade_info.city_code.present?%>
      	<%= f.select :district_code, options_for_select(Area.where(parent_code: @trade_info.city_code).map{|area| [area.name, area.code]}, @trade_info.district_code)%>
			<% elsif cookies[:city_code].present?%>
				<%= f.select :district_code, options_for_select(Area.where(parent_code: cookies[:city_code]).map{|area| [area.name, area.code]})%>
			<%else%>
				<%= f.select :district_code, {}, style: "display: none"%>
			<%end%>
    </div>
    <div class="input">
      <span class="title">上传照片：</span>
      <div class="iframe">
      	<iframe src="<%= upload_image_member_trade_infos_path(id: @trade_info.try(:id))%>" frameborder="no" scrolling="no" style="height: 3rem"></iframe>
      </div>
    </div>
    <div class="input">
      <span class="title">详细信息：</span>
      <%= f.text_area :content, placeholder: "请输入详细信息"%>
    </div>

<%= content_for :javascript do%>
<script>
$(function(){
	//get streets
	$("#trade_info_city_code").change(function(){
		if($(this).val() == "")
		{
			$("#trade_info_district_code").val("").hide();
			return false;
		} 
		
		$.ajax({
			url: '/ajax/area/children',
			type: 'GET',
			dataType: 'json',
			data: {code: $(this).val()},
			success: function(response)
			{
				if(response.length == 0)
				{
					$("#trade_info_district_code").html('<option value="" selected></option>').hide();
					return true;
				}
				var options = '';
				$.each(response, function(index, city){
					options += '<option value="'+ city['code'] +'">'+ city['name'] +'</option>';
				});
				$("#trade_info_district_code").html(options).show();
			}
		});
	});
  
  
  
});
</script>
<%end%>