<%@page_title ||= "团队管理"%>

<div class="row">
	<div class="col-md-12">
		<div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li><a href="<%= edit_admin_team_path(params[:id])%>">基本信息</a></li>
        <li class="active"><a data-toggle="tab" href="#tab_2">团队成员</a></li>
        <li class="pull-right"><a class="text-muted" href="#"><i class="fa fa-gear"></i></a></li>
      </ul>
      <div class="tab-content">
        <div id="tab_1" class="tab-pane active">
					<div class="box box-primary">
						<table class="table table-hover areas_table">
							<tbody>
								<tr>
									<th><label><input type="checkbox" />全选</label></th>
									<th>用户名</th>
									<th>状态</th>
									<th>加入时间</th>
									<th>操作</th>
								</tr>
								<%@users.each do |user|%>
								<tr>
									<td>
										<div class="row show-grid">
											<div class="col-md-3 img_box">
												<div class="check_box">
													<input type="checkbox" name="area[]id" value="<%= user.id%>">
												</div>
											</div>
										</div>
									</td>
									<td><%= user.user.try(:name)%></td>
									<td><%= t "activerecord.team_user.states.#{user.state}"%></td>
                  <td><%= user.created_at.strftime("%Y-%m-%d")%></td>
                  <td>
										<%= link_to "删除", destroy_user_admin_team_path(@data, team_user_id: user.id), method: :delete%>
                  </td>
								</tr>
								<%end%>
							</tbody>
						</table>

						<a href="<%= admin_team_path(params[:id])%>" class="btn btn-primary">返回</a>
					</div>
        </div>
        <!-- /.tab-pane -->
        <!-- /.tab-pane -->
      </div>
      <!-- /.tab-content -->
    </div>
							
		<div class="box box-danger">
	    <div class="box-header">
	      <h3 class="box-title">添加用户</h3>
	    </div>
			
	    <div class="box-body">
				<%= form_for [:admin, @team_user], url:  add_user_admin_team_path(@data), method: :post, :html=>{:multipart=>true} do |f| %>
					<div class="box-body">
						<div class="form-group">
							<label for="exampleInputPassword1">用户</label>
	            <input type="text" id="user_name" class="form-control" data-provide="typeahead" autocomplete="off" />
		          <%= f.hidden_field :user_id, id: "user_id"%>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">状态</label>
		          <%= f.select :state, options_for_select([["未处理", :create], ["接受邀请", :pass]], @team_user.state), {}, class: "form-control"%>
						</div>
				
					</div>
					<div class="box-footer">
						<button class="btn btn-primary" type="submit">保存</button>
					</div>
				<% end %>
	    </div>
	    <!-- /.box-body -->
	  </div>
		
	</div> 
</div>

<%= stylesheet_link_tag    'admin/plugins/daterangepicker-bs3', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'admin/plugins/bootstrap-typeahead', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'admin/plugins/moment.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'admin/plugins/daterangepicker', 'data-turbolinks-track' => true %>
<script type="text/javascript">
$(function(){
  //用户自动完成
  $('#user_name').typeahead({
    source: function(query, process) {
      var parameter = {key: query, authenticity_token: $("meta[name='csrf-token']").attr("content")};
      $.post('/ajax/user/like', parameter, function (data) {
        var results = _.map(data, function (user) {
            return user.id+":"+user.name;
        });
        process(results);
      });
    },
    highlighter: function (item) {
      return item.split(":")[1];
    },
    updater: function(item) {
      $("#user_id").val(item.split(":")[0]);
      return item.split(":")[1];
    }
  });
  
});
</script>