<!DOCTYPE html>
<html>
  <head>
    <title>百姓供求官网</title>
	<meta charset="utf-8" />
  	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  	<meta content="yes" name="apple-mobile-web-app-capable">
  	<meta content="black" name="apple-mobile-web-app-status-bar-style">
  	<meta content="telephone=no" name="format-detection">
  	<meta content="email=no" name="format-detection">
    <%= stylesheet_link_tag 'base', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body id="body" style="position: absolute; left: 0; top: 0px; bottom: 5rem; width: 100%; z-index: 10;">
    <div id="wrap" class="wrap">
      <%unless @hidden_search_bar%>
      <div id="header">
        <div class="area col-xs-2 pr">
          <a href="<%= areas_path%>" class="font_white">
            <span class="iconfont">&#xe605;</span>
            <%= cookies[:city_name]%>
          </a>
        </div>
        <div class="search">
          <div class="box">
            <%= form_tag trade_infos_path, method: :get do%>
            <input type="text" class="input" placeholder="请输入关键字" name="k" <%= params[:k].present? ? "value=#{params[:k]}" : ""%> />
            <span  class="btn iconfont font_white search_btn">
              &#xe603;
           	</span>
						<%end%>
          </div>
        </div>
      </div>
      <%end%>
      
      <%= yield %>
    </div>
    
    <%unless @hide_footer%>
    <%= render partial: "/layouts/footer.html.erb"%>
		<%end%>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :javascript%>
		
		<script type="text/javascript">
		$(function(){
			//搜索
			$(".search_btn").click(function(){
				if($(this).prev().val() != "")
					$(this).parent().submit();
			});
		});
		</script>
		
    <%if flash[:notice].present?%>
		<script type="text/javascript">
			removePrompt = function(url,callback,delaytime) {
				if(!Boolean(delaytime)){
					delaytime=1000;
				}
				var _prompt_box = $(document).find(".prompt");
				setTimeout(function() {
					_prompt_box.css({
						'-webkit-transition': '' + 0.2 + 's  linear',
						'transition': '' + 0.2 + 's  linear',
						'-webkit-transform': 'scale(0,0)',
						'transform': 'scale(0,0)'
					})
					_prompt_box.bind('webkitTransitionEnd transitionend', function() {
						this.remove()
						if(callback){
					   	callback(url)
							}
					})
				}, delaytime);
			};
	
			var _html = '';
			_html += '<div class="prompt-box pf prompt" id="prompt-box">';
			_html += '<p class="back-prompt-p"><%= flash[:notice]%></p>';
			_html += '</div>';
			$('body').append(_html);
			
			<%if session[:goto].present?%>
			removePrompt('<%= session.delete(:goto)%>');
			<%else%>
			removePrompt();
			<%end%>
		</script>
    <%end%>
    
  </body>
</html>



