<!DOCTYPE html>
<html>
  <head>
    <title>Jilin365</title>
	<meta charset="utf-8" />
  	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  	<meta content="yes" name="apple-mobile-web-app-capable">
  	<meta content="black" name="apple-mobile-web-app-status-bar-style">
  	<meta content="telephone=no" name="format-detection">
  	<meta content="email=no" name="format-detection">
    <%= stylesheet_link_tag 'base', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrap">
      <%unless @hidden_search_bar%>
      <div id="header">
        <div class="area col-xs-2 pr">
          <a href="<%= areas_path%>" class="font_white">
            <span class="iconfont">&#xe605;</span>
            <%= cookies[:city_name]%>
          </a>
        </div>
        <div class="search">
          <div class="box">
            <input type="text" class="input" placeholder="请输入关键字" />
            <span  class="btn iconfont font_white">
              &#xe603;
           	</span>
          </div>
        </div>
      </div>
      <%end%>
      
      <%= yield %>
    </div>


    <div class="blank05"></div>
    <div class="space1 pr"></div>
    <div class="blank1"></div>
    <div class="blank05"></div>
    
    <%unless @hide_footer%>
    <div id="footer" class="wrap pr">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <a href="/">
              <span class="iconfont">&#xe609;</span>
              首页
            </a>
          </td>
          <td>
						<a href="<%= new_category_member_trade_infos_path%>">
	            <span class="iconfont">&#xe602;</span>
	            发布
						</a>
          </td>
          <td>
            <div class="index_btn">
              <a href="/" class="color-white">
                <span class="iconfont">&#xe607;</span>
                客服
              </a>
            </div>
          </td>
          <td>
            <a href="<%= member_root_path%>">
              <span class="iconfont">&#xe608;</span>
              会员
            </a>
          </td>
          <td>
            <a href="/stores">
              <span class="iconfont">&#xe606;</span>
              找商家
            </a>
          </td>
        </tr>
      </table>
    </div>
		<%end%>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%if flash[:notice].present?%>
		<script type="text/javascript">
			removePrompt = function(url,callback,delaytime) {
				if(!Boolean(delaytime)){
					delaytime=1000;
				}
				var _prompt_box = $(document).find(".prompt");
				setTimeout(function() {
					_prompt_box.css({
						'-webkit-transition': '' + 0.2 + 's  linear',
						'transition': '' + 0.2 + 's  linear',
						'-webkit-transform': 'scale(0,0)',
						'transform': 'scale(0,0)'
					})
					_prompt_box.bind('webkitTransitionEnd transitionend', function() {
						this.remove()
						if(callback){
					   	callback(url)
							}
					})
				}, delaytime);
			};
	
			var _html = '';
			_html += '<div class="prompt-box pf prompt" id="prompt-box">';
			_html += '<p class="back-prompt-p"><%= flash[:notice]%></p>';
			_html += '</div>';
			$('body').append(_html)
			<%if session[:goto].present?%>
			removePrompt('<%= session.delete(:goto)%>');
			<%else%>
			removePrompt();
			<%end%>
		</script>
    <%end%>
    
  </body>
</html>



