<!DOCTYPE html>
<html>
  <head>
    <title>Jilin365</title>
	<meta charset="utf-8" />
  	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  	<meta content="yes" name="apple-mobile-web-app-capable">
  	<meta content="black" name="apple-mobile-web-app-status-bar-style">
  	<meta content="telephone=no" name="format-detection">
  	<meta content="email=no" name="format-detection">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="/css/base.css" rel="stylesheet" type="text/css">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrap">
      <%unless @hidden_search_bar%>
      <div id="header">
        <div class="area col-xs-2 pr">
          <a href="<%= areas_path%>" class="font_white">
            <span class="iconfont">&#xe605;</span>
            北京市
          </a>
        </div>
        <div class="search">
          <div class="box">
            <input type="text" class="input" placeholder="请输入关键字" />
            <span  class="btn iconfont font_white">
              &#xe603;
           	</span>
          </div>
        </div>
      </div>
      <%end%>
      
      <%= yield %>
    </div>


    <div class="blank05"></div>
    <div class="space1 pr"></div>
    <div class="blank1"></div>
    <div class="blank05"></div>
    
    <div id="footer" class="wrap pr">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <span class="iconfont">&#xe609;</span>
            首页
          </td>
          <td>
            <span class="iconfont">&#xe602;</span>
            发布
          </td>
          <td>
            <div class="index_btn">
              <a href="/" class="color-white">
                <span class="iconfont">&#xe607;</span>
                客服
              </a>
            </div>
          </td>
          <td>
            <span class="iconfont">&#xe608;</span>
            会员
          </td>
          <td>
            <a href="/stores">
              <span class="iconfont">&#xe606;</span>
              找商家
            </a>
          </td>
        </tr>
      </table>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
  </body>
</html>
