<!DOCTYPE html>
<html>
  <head>
    <title>用户中心<%= @title.present? ? "——#{@title}" : ""%></title>
	<meta charset="utf-8" />
  	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  	<meta content="yes" name="apple-mobile-web-app-capable">
  	<meta content="black" name="apple-mobile-web-app-status-bar-style">
  	<meta content="telephone=no" name="format-detection">
  	<meta content="email=no" name="format-detection">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="/css/base.css" rel="stylesheet" type="text/css">
    <link href="/css/member.css" rel="stylesheet" type="text/css">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrap">
      <%= yield %>
		</div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :javascript%>
    <%if flash[:notice].present?%>
    <script type="text/javascript">
      alert('<%= flash[:notice]%>');
    </script>
    <%end%>
  </body>
</html>
