<!DOCTYPE html>
<html>
  <head>
    <title>用户中心<%= @title.present? ? "——#{@title}" : ""%></title>
	<meta charset="utf-8" />
  	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  	<meta content="yes" name="apple-mobile-web-app-capable">
  	<meta content="black" name="apple-mobile-web-app-status-bar-style">
  	<meta content="telephone=no" name="format-detection">
  	<meta content="email=no" name="format-detection">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'base', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'member', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrap">
      <%= yield %>
		</div>
		
    <%unless @hide_footer%>
    <%= render partial: "/layouts/footer.html.erb"%>
		<%end%>
		
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :javascript%>
    
		<script type="text/javascript">
    //提示框
		removePrompt = function(msg, url,callback,delaytime) {
      $(".back-prompt-p").html(msg);
			if(!Boolean(delaytime)){
				delaytime=1000;
			}
			var _prompt_box = $(document).find(".prompt");
      _prompt_box.show();
			setTimeout(function() {
				_prompt_box.css({
					'-webkit-transition': '' + 0.2 + 's  linear',
					'transition': '' + 0.2 + 's  linear',
					'-webkit-transform': 'scale(0,0)',
					'transform': 'scale(0,0)'
				})
				_prompt_box.bind('webkitTransitionEnd transitionend', function() {
          // this.remove()
					if(callback){
				   	callback(url)
						}
				})
			}, delaytime);
		};

		var _html = '';
		_html += '<div class="prompt-box pf prompt" id="prompt-box" style="display: none">';
		_html += '<p class="back-prompt-p"></p>';
		_html += '</div>';
		$('body').append(_html);
		</script>
    
    <%if flash[:notice].present?%>
		<script type="text/javascript">
			<%if session[:goto].present?%>
			removePrompt('<%= flash[:notice]%>', '<%= session.delete(:goto)%>');
			<%else%>
			removePrompt('<%= flash[:notice]%>');
			<%end%>
		</script>
    <%end%>
  </body>
</html>
